In [92]:
import polars as pl

In [93]:
pl.__version__

'1.24.0'

In [94]:
data_path = "data/2022"

1) on défini en gros un schéma ( avec le **scan** )du futur dataframe avant de le charger en mémoire

2) **collect** récupère toutes les lignes du plan chargé au dessus, on peut définir ce qu'on veut puis on charge le schéma défini

3) Par défaut le **collect** récupère toutes les lignes donc on met **head(5)** pour ne charger que les 5 premières contrairement à pandas qui charge tout et n'affiche que les 5 premières

In [ ]:
dataset = pl.scan_parquet(f"{data_path}/yellow_202201.parquet")
dataset.describe()

shape: (9, 20)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ VendorID  ┆ tpep_pick ┆ tpep_drop ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_ │
│ ---       ┆ ---       ┆ up_dateti ┆ off_datet ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ fee      │
│ str       ┆ f64       ┆ me        ┆ ime       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---      │
│           ┆           ┆ ---       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64      │
│           ┆           ┆ str       ┆ str       ┆   ┆ f64       ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 2.463931e ┆ 2463931   ┆ 2463931   ┆ … ┆ 2.463931e ┆ 2.463931e ┆ 2.392428e ┆ 2.392428 │
│           ┆ 6         ┆           ┆           ┆   ┆ 6         ┆ 6         ┆ 6         ┆ e6       │
│ null_coun ┆ 0.0       ┆ 0         ┆ 0         ┆ … ┆ 0.0       ┆ 0.0       ┆ 71503.0   ┆ 71503.0  │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 1.707819  ┆ 2022-01-1 ┆ 2022-01-1 ┆ … ┆ 0.296723  ┆ 19.16937  ┆ 2.282322  ┆ 0.082499 │
│           ┆           ┆ 7 01:19:5 ┆ 7 01:34:0 ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 1.689726  ┆ 4.421901  ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ 0.502137  ┆ null      ┆ null      ┆ … ┆ 0.043747  ┆ 255.96408 ┆ 0.743204  ┆ 0.312555 │
│           ┆           ┆           ┆           ┆   ┆           ┆ 9         ┆           ┆          │
│ min       ┆ 1.0       ┆ 2008-12-3 ┆ 2008-12-3 ┆ … ┆ -0.3      ┆ -480.3    ┆ -2.5      ┆ -1.25    │
│           ┆           ┆ 1         ┆ 1         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 22:23:09  ┆ 23:06:56  ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ 1.0       ┆ 2022-01-0 ┆ 2022-01-0 ┆ … ┆ 0.3       ┆ 11.3      ┆ 2.5       ┆ 0.0      │
│           ┆           ┆ 9         ┆ 9         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 15:37:41  ┆ 15:50:51  ┆   ┆           ┆           ┆           ┆          │
│ 50%       ┆ 2.0       ┆ 2022-01-1 ┆ 2022-01-1 ┆ … ┆ 0.3       ┆ 14.69     ┆ 2.5       ┆ 0.0      │
│           ┆           ┆ 7         ┆ 7         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 12:11:45  ┆ 12:23:49  ┆   ┆           ┆           ┆           ┆          │
│ 75%       ┆ 2.0       ┆ 2022-01-2 ┆ 2022-01-2 ┆ … ┆ 0.3       ┆ 20.02     ┆ 2.5       ┆ 0.0      │
│           ┆           ┆ 4         ┆ 4         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 13:49:38  ┆ 14:02:51  ┆   ┆           ┆           ┆           ┆          │
│ max       ┆ 6.0       ┆ 2022-05-1 ┆ 2022-05-1 ┆ … ┆ 0.3       ┆ 401095.62 ┆ 2.5       ┆ 1.25     │
│           ┆           ┆ 8         ┆ 8         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 20:41:57  ┆ 20:47:45  ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
dataset2 = pl.scan_parquet(f"{data_path}/*.parquet", allow_missing_columns=True)
dataset2.collect().head(5)

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 0.3       ┆ 21.95     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 13.3      ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 10.56     ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 11.8      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 30.3      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

## on peut charger le data set en mémoire mais on préfère pas

In [ ]:
# dataset = pl.read_parquet(f"{data_path}/yellow_202201.parquet")
# dataset

## sélectionner des colonnes

In [ ]:
dataset.select(
    pl.col("VendorID", "passenger_count"),
).collect().head(5)

shape: (5, 2)
┌──────────┬─────────────────┐
│ VendorID ┆ passenger_count │
│ ---      ┆ ---             │
│ i64      ┆ f64             │
╞══════════╪═════════════════╡
│ 1        ┆ 2.0             │
│ 1        ┆ 1.0             │
│ 2        ┆ 1.0             │
│ 2        ┆ 1.0             │
│ 2        ┆ 1.0             │
└──────────┴─────────────────┘

### sans le **collect** on a le scan

In [ ]:
dataset = dataset.select(
    pl.col("passenger_count").alias("count"),
    pl.col(pl.Float64),  # on affiche toutes les colones de type FLoat64
)

In [100]:
dataset.describe()

shape: (9, 14)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ count     ┆ passenger ┆ trip_dist ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_ │
│ ---       ┆ ---       ┆ _count    ┆ ance      ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ fee      │
│ str       ┆ f64       ┆ ---       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---      │
│           ┆           ┆ f64       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64      │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 2.392428e ┆ 2.392428e ┆ 2.463931e ┆ … ┆ 2.463931e ┆ 2.463931e ┆ 2.392428e ┆ 2.392428 │
│           ┆ 6         ┆ 6         ┆ 6         ┆   ┆ 6         ┆ 6         ┆ 6         ┆ e6       │
│ null_coun ┆ 71503.0   ┆ 71503.0   ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 71503.0   ┆ 71503.0  │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 1.389453  ┆ 1.389453  ┆ 5.372751  ┆ … ┆ 0.296723  ┆ 19.16937  ┆ 2.282322  ┆ 0.082499 │
│ std       ┆ 0.982969  ┆ 0.982969  ┆ 547.87140 ┆ … ┆ 0.043747  ┆ 255.96408 ┆ 0.743204  ┆ 0.312555 │
│           ┆           ┆           ┆ 4         ┆   ┆           ┆ 9         ┆           ┆          │
│ min       ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ … ┆ -0.3      ┆ -480.3    ┆ -2.5      ┆ -1.25    │
│ 25%       ┆ 1.0       ┆ 1.0       ┆ 1.04      ┆ … ┆ 0.3       ┆ 11.3      ┆ 2.5       ┆ 0.0      │
│ 50%       ┆ 1.0       ┆ 1.0       ┆ 1.74      ┆ … ┆ 0.3       ┆ 14.69     ┆ 2.5       ┆ 0.0      │
│ 75%       ┆ 1.0       ┆ 1.0       ┆ 3.13      ┆ … ┆ 0.3       ┆ 20.02     ┆ 2.5       ┆ 0.0      │
│ max       ┆ 9.0       ┆ 9.0       ┆ 306159.28 ┆ … ┆ 0.3       ┆ 401095.62 ┆ 2.5       ┆ 1.25     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

###  avec le **collect** on a les n ligne du **head**

In [ ]:
dataset.select(
    pl.col("passenger_count").alias("count"),
    pl.col(pl.Float64),  # on affiche toutes les colones de type FLoat64
).collect().head(5)

DuplicateError: the name 'count' is duplicate

It's possible that multiple expressions are returning the same default column name. If this is the case, try renaming the columns with `.alias("new_name")` to avoid duplicate column names.

### on a l'équivalent du **dtypes** de pandas avec le **schema**

In [ ]:
dataset.select(
    pl.col("passenger_count").alias("count"),
    pl.col(pl.Float64),  # on affiche toutes les colones de type FLoat64
).schema

C:\Users\thoma\AppData\Local\Temp\ipykernel_22452\985804488.py:4: PerformanceWarning: Resolving the schema of a LazyFrame is a potentially expensive operation. Use `LazyFrame.collect_schema()` to get the schema without this warning.
  ).schema

Schema([('count', Float64),
        ('passenger_count', Float64),
        ('trip_distance', Float64),
        ('RatecodeID', Float64),
        ('fare_amount', Float64),
        ('extra', Float64),
        ('mta_tax', Float64),
        ('tip_amount', Float64),
        ('tolls_amount', Float64),
        ('improvement_surcharge', Float64),
        ('total_amount', Float64),
        ('congestion_surcharge', Float64),
        ('airport_fee', Float64)])

### on peut appliquer des filtres & (and) | (or)

In [ ]:
dataset2.select(pl.col(pl.Float64), pl.col(pl.Int64)).filter(
    (pl.col("passenger_count") > 1) & (pl.col("total_amount") < 20)
    | pl.col("payment_type").is_in([1, 2])
    | (pl.col("passenger_count").is_null())
).collect().head(5)

shape: (5, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬──────────┬───────────┬───────────┬───────────┐
│ passenger ┆ trip_dist ┆ RatecodeI ┆ fare_amou ┆ … ┆ VendorID ┆ PULocatio ┆ DOLocatio ┆ payment_t │
│ _count    ┆ ance      ┆ D         ┆ nt        ┆   ┆ ---      ┆ nID       ┆ nID       ┆ ype       │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ i64      ┆ ---       ┆ ---       ┆ ---       │
│ f64       ┆ f64       ┆ f64       ┆ f64       ┆   ┆          ┆ i64       ┆ i64       ┆ i64       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪══════════╪═══════════╪═══════════╪═══════════╡
│ 2.0       ┆ 3.8       ┆ 1.0       ┆ 14.5      ┆ … ┆ 1        ┆ 142       ┆ 236       ┆ 1         │
│ 1.0       ┆ 2.1       ┆ 1.0       ┆ 8.0       ┆ … ┆ 1        ┆ 236       ┆ 42        ┆ 1         │
│ 1.0       ┆ 0.97      ┆ 1.0       ┆ 7.5       ┆ … ┆ 2        ┆ 166       ┆ 166       ┆ 1         │
│ 1.0       ┆ 1.09      ┆ 1.0       ┆ 8.0       ┆ … ┆ 2        ┆ 114       ┆ 68        ┆ 2         │
│ 1.0       ┆ 4.3       ┆ 1.0       ┆ 23.5      ┆ … ┆ 2        ┆ 68        ┆ 163       ┆ 1         │
└───────────┴───────────┴───────────┴───────────┴───┴──────────┴───────────┴───────────┴───────────┘

## ajouter des colonnes
1) on peut le faire dans le select  avec une **variable** ou un **alias**
2) on peut le faire avec le **.with_columns**

In [ ]:
tmp = (
    dataset2.select(
        pl.col(pl.Float64),
        pl.col(pl.Int64),
        # price_miles=pl.col("total_amount")/ pl.col("trip_distance"),  # on crée une nouvelle colonnes price_miles
        # (pl.col('total_amount')/pl.col('trip_distance')).alias('price_miles2')
    )
    .filter(
        (pl.col("passenger_count") > 1) & (pl.col("total_amount") < 20)
        | pl.col("payment_type").is_in([1, 2])
        | (pl.col("passenger_count").is_null())
    )
    .with_columns(price_miles2=pl.col("total_amount") / pl.col("trip_distance"))
)

In [ ]:
# tmp.select(
#     pl.col("total_amount", "trip_distance", "price_miles2").filter(
#         pl.col("price_miles2").is_null() | pl.col("price_miles2").is_nan() #on regarde s'il y a des null ou nan pour price_miles2
#     )
# ).collect().head(5)

tmp.select(
    pl.col("price_miles2").filter(pl.col("trip_distance") > 0).mean(),
    pl.col("passenger_count").mean(),
).collect()

shape: (1, 2)
┌──────────────┬─────────────────┐
│ price_miles2 ┆ passenger_count │
│ ---          ┆ ---             │
│ f64          ┆ f64             │
╞══════════════╪═════════════════╡
│ 12.923205    ┆ 1.404722        │
└──────────────┴─────────────────┘

### clause conditionnelle **when** / **then** / **otherwise**

In [ ]:
tmp.with_columns(
    payment_method=pl.when(pl.col("payment_type") == 1)
    .then(pl.lit("cash"))
    .when(pl.col("payment_type") == 2)
    .then(pl.lit("credit"))
    .otherwise(pl.col("payment_type"))
).cast({pl.Int64: pl.Int32, pl.Float64: pl.Float32})

### **cast** de type

In [ ]:
# .cast({pl.Int64: pl.Int32, pl.Float64: pl.Float32})