# Call api
API = Application Programming Interface

-> standard communication gate between 2 programs (internet and/or local)

In [ ]:
### example:
### doc url: https://open-meteo.com/
### here : max 10_000 call per IP address, because it's free: don't be abusive


### built url from documentation:
### try in browser -->> return json
url = "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m"


### the values associated to "latitude" and "longitude" are parameters => changeable with for loop !

In [ ]:
import numpy as np
import pandas as pd

# import json
import requests as req  ## status/connection to web

In [ ]:
### test connection to internet

response = req.get(url)
print(response.status_code)  ## 200 = OK

200

In [5]:
type(response.json())

dict

In [6]:
json_df = pd.json_normalize(response.json())
json_df

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,hourly_units.time,hourly_units.temperature_2m,hourly.time,hourly.temperature_2m
0,52.52,13.419998,0.039577,0,GMT,GMT,38.0,iso8601,°C,"[2025-02-05T00:00, 2025-02-05T01:00, 2025-02-0...","[-2.3, -2.7, -3.0, -2.8, -2.9, -2.8, -2.6, -1...."

In [7]:
json_df[["hourly.time", "hourly.temperature_2m"]]

,hourly.time,hourly.temperature_2m
0,"[2025-02-05T00:00, 2025-02-05T01:00, 2025-02-0...","[-2.3, -2.7, -3.0, -2.8, -2.9, -2.8, -2.6, -1...."

In [ ]:
### see function explode from pandas:
### explode columns {hourly.time , hourly.temperature_2m} at the same time:
### meaning:  first elem  of "hourly.time" with first elem of "hourly.temperature_2m"

data = json_df[
    ["latitude", "longitude", "hourly.time", "hourly.temperature_2m"]
].explode(column=["hourly.time", "hourly.temperature_2m"])
data.head(5)

   latitude  longitude       hourly.time hourly.temperature_2m
0     52.52  13.419998  2025-02-05T00:00                  -2.3
0     52.52  13.419998  2025-02-05T01:00                  -2.7
0     52.52  13.419998  2025-02-05T02:00                  -3.0
0     52.52  13.419998  2025-02-05T03:00                  -2.8
0     52.52  13.419998  2025-02-05T04:00                  -2.9

In [ ]:
### not good (with this data):
### here: no joined extraction of list
data_1 = json_df[
    ["latitude", "longitude", "hourly.time", "hourly.temperature_2m"]
].explode(column=["hourly.time"])  # .explode(column=["hourly.temperature_2m"])
data_1.head()

,latitude,longitude,hourly.time,hourly.temperature_2m
0,52.52,13.419998,2025-02-05T00:00,"[-2.3, -2.7, -3.0, -2.8, -2.9, -2.8, -2.6, -1...."
0,52.52,13.419998,2025-02-05T01:00,"[-2.3, -2.7, -3.0, -2.8, -2.9, -2.8, -2.6, -1...."
0,52.52,13.419998,2025-02-05T02:00,"[-2.3, -2.7, -3.0, -2.8, -2.9, -2.8, -2.6, -1...."
0,52.52,13.419998,2025-02-05T03:00,"[-2.3, -2.7, -3.0, -2.8, -2.9, -2.8, -2.6, -1...."
0,52.52,13.419998,2025-02-05T04:00,"[-2.3, -2.7, -3.0, -2.8, -2.9, -2.8, -2.6, -1...."