# Exercice:

- fetch the meteo prevision (7days) (theory)
- for all communes of brussels (via open database of Wallonia: odbw)
    - https://www.odwb.be/api/records/1.0/search/?dataset=code-postaux-belge&q=&facet=column_1&facet=column_2

In [ ]:
import pandas as pd
import numpy as np
import requests as req

In [39]:
api_url = "https://www.odwb.be/api/records/1.0/search/?dataset=code-postaux-belge&q=&facet=column_1&facet=column_2"
meteo_api = url = (
    "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m"
)

In [40]:
try:
    response = req.get(meteo_api)
    print(response.status_code)
    json_df = pd.json_normalize(response.json())
    json_df_exploded = json_df.copy()
    json_df_exploded = json_df_exploded.explode(
        column=["hourly.time", "hourly.temperature_2m"]
    )
    json_df_exploded = json_df_exploded[
        ["latitude", "longitude", "hourly.time", "hourly.temperature_2m"]
    ]

except Exception as e:
    print(e)
    print("Error during the request")

display(json_df_exploded.head())

200

   latitude  longitude       hourly.time hourly.temperature_2m
0     52.52  13.419998  2025-02-07T00:00                   3.6
0     52.52  13.419998  2025-02-07T01:00                   3.4
0     52.52  13.419998  2025-02-07T02:00                   2.9
0     52.52  13.419998  2025-02-07T03:00                   2.4
0     52.52  13.419998  2025-02-07T04:00                   2.0