# Sick or not ?

Neural networks are also used and work very well on more traditional data sets than images. Here is a set of data that contains a column with the white blood cell rate, another with the red blood cell rate and a last one with an indication of who is sick or not. (Not sick = 0, sick = 1)

The (fictionals) dataset is located in the dataset folder, here is the path :  

``"./dataset/sick_or_not.csv"`` 

Rows : 40000

## Your task:

Design a model that recognizes if the person is sick based on white and red blood cells.  
Use neural networks to perform this task. 

![](https://d418bv7mr3wfv.cloudfront.net/s3/W1siZiIsIjIwMTcvMDUvMzAvMDYvNTMvNTcvODk3L2dpcmwtMjE3MTA1Ml85NjBfNzIwLmpwZyJdLFsicCIsInRodW1iIiwiOTgweDU4MCMiXV0)

### Score to beat :
Accuracy: **% 96.025**  
Loss : **0.1151**  
Epochs : **40**  
That means that out of **8000** test samples, this model got **7682** correct and **318** incorrect.

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
# import dataset in variable df

url = "./dataset/sick_or_not.csv"
df = pd.read_csv(url)

df.head()

   white_blood_cell  red_blood_cell  sick
0          1.178028        0.464315   0.0
1          0.844175        2.440351   0.0
2          2.878409       -1.438124   1.0
3         -0.057521        2.054928   1.0
4         -1.232600       -2.722805   0.0

In [ ]:
df.tail(10)

       white_blood_cell  red_blood_cell  sick
39990          0.178445        3.025230   1.0
39991          2.681747        0.300191   0.0
39992         -1.130755       -2.727139   0.0
39993          1.788047       -1.171822   1.0
39994         -1.042973       -0.530867   1.0
39995         -2.641717        2.356235   1.0
39996          3.675737        2.956299   0.0
39997         -2.192320       -3.356272   0.0
39998          3.100980       -2.561397   1.0
39999         -1.605397        2.680971   1.0

In [5]:
df.describe(include="all")

       white_blood_cell  red_blood_cell          sick
count      40000.000000    40000.000000  40000.000000
mean          -0.004351       -0.007324      0.500000
std            2.229326        2.235759      0.500006
min           -5.834724       -5.781232      0.000000
25%           -1.995645       -2.013000      0.000000
50%            0.004485       -0.014540      0.500000
75%            1.983753        1.985451      1.000000
max            5.541181        5.947922      1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   white_blood_cell  40000 non-null  float64
 1   red_blood_cell    40000 non-null  float64
 2   sick              40000 non-null  float64
dtypes: float64(3)
memory usage: 937.6 KB

In [7]:
df["white_blood_cell"].mean()

-0.004351365855189896

In [8]:
mask = df["white_blood_cell"] < df["white_blood_cell"].mean()
mask

0        False
1        False
2        False
3         True
4         True
         ...
39995     True
39996    False
39997     True
39998    False
39999     True
Name: white_blood_cell, Length: 40000, dtype: bool

In [9]:
df[mask]

       white_blood_cell  red_blood_cell  sick
3             -0.057521        2.054928   1.0
4             -1.232600       -2.722805   0.0
5             -1.866536       -1.052549   0.0
10            -0.264878       -0.516184   1.0
12            -2.461048       -2.301644   0.0
...                 ...             ...   ...
39992         -1.130755       -2.727139   0.0
39994         -1.042973       -0.530867   1.0
39995         -2.641717        2.356235   1.0
39997         -2.192320       -3.356272   0.0
39999         -1.605397        2.680971   1.0

[19981 rows x 3 columns]

In [10]:
# X = df[["white_blood_cell", "red_blood_cell"]]
X = df.drop(columns=["sick"])

In [ ]:
y = df["sick"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42
)

In [13]:
X_train.shape
X_test.shape

(13200, 2)

In [14]:
y_train.shape
y_test.shape

(13200,)

In [15]:
df[["white_blood_cell", "red_blood_cell"]]

       white_blood_cell  red_blood_cell
0              1.178028        0.464315
1              0.844175        2.440351
2              2.878409       -1.438124
3             -0.057521        2.054928
4             -1.232600       -2.722805
...                 ...             ...
39995         -2.641717        2.356235
39996          3.675737        2.956299
39997         -2.192320       -3.356272
39998          3.100980       -2.561397
39999         -1.605397        2.680971

[40000 rows x 2 columns]

In [16]:
df[["white_blood_cell"]].shape

(40000, 1)

In [ ]:
###Enter your code here !
# Load the dataset
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

data = pd.read_csv("./dataset/sick_or_not.csv")
X = data[["white_blood_cell", "red_blood_cell"]].values
y = data["sick"].values

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Normalize the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
import tensorflow as tf

# Build a neural network model
model = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(48, input_shape=(2,), activation="relu"),
        tf.keras.layers.Dense(36, activation="relu"),
        # Output layer for binary classification
        tf.keras.layers.Dense(1, activation="sigmoid"),
    ]
)

# Compile the model
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])
# Train the model
history = model.fit(X_train, y_train, epochs=30, batch_size=16, validation_split=0.1)

ImportError: Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 73, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: DLL load failed while importing _pywrap_tensorflow_internal: A dynamic link library (DLL) initialization routine failed.


Failed to load the native TensorFlow runtime.
See https://www.tensorflow.org/install/errors for some common causes and solutions.
If you need help, create an issue at https://github.com/tensorflow/tensorflow/issues and include the entire stack trace above this error message.