# Sick or not ?

Neural networks are also used and work very well on more traditional data sets than images. Here is a set of data that contains a column with the white blood cell rate, another with the red blood cell rate and a last one with an indication of who is sick or not. (Not sick = 0, sick = 1)

The (fictionals) dataset is located in the dataset folder, here is the path :  

``"./dataset/sick_or_not.csv"`` 

Rows : 40000

## Your task:

Design a model that recognizes if the person is sick based on white and red blood cells.  
Use neural networks to perform this task. 

![](https://d418bv7mr3wfv.cloudfront.net/s3/W1siZiIsIjIwMTcvMDUvMzAvMDYvNTMvNTcvODk3L2dpcmwtMjE3MTA1Ml85NjBfNzIwLmpwZyJdLFsicCIsInRodW1iIiwiOTgweDU4MCMiXV0)

### Score to beat :
Accuracy: **% 96.025**  
Loss : **0.1151**  
Epochs : **40**  
That means that out of **8000** test samples, this model got **7682** correct and **318** incorrect.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
# import dataset in variable df

url = "./dataset/sick_or_not.csv"
df = pd.read_csv(url)

df.head()

   white_blood_cell  red_blood_cell  sick
0          1.178028        0.464315   0.0
1          0.844175        2.440351   0.0
2          2.878409       -1.438124   1.0
3         -0.057521        2.054928   1.0
4         -1.232600       -2.722805   0.0

In [ ]:
df.tail(10
        )

       white_blood_cell  red_blood_cell  sick
39990          0.178445        3.025230   1.0
39991          2.681747        0.300191   0.0
39992         -1.130755       -2.727139   0.0
39993          1.788047       -1.171822   1.0
39994         -1.042973       -0.530867   1.0
39995         -2.641717        2.356235   1.0
39996          3.675737        2.956299   0.0
39997         -2.192320       -3.356272   0.0
39998          3.100980       -2.561397   1.0
39999         -1.605397        2.680971   1.0

In [ ]:
df.describe(include="all")

       white_blood_cell  red_blood_cell          sick
count      40000.000000    40000.000000  40000.000000
mean          -0.004351       -0.007324      0.500000
std            2.229326        2.235759      0.500006
min           -5.834724       -5.781232      0.000000
25%           -1.995645       -2.013000      0.000000
50%            0.004485       -0.014540      0.500000
75%            1.983753        1.985451      1.000000
max            5.541181        5.947922      1.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   white_blood_cell  40000 non-null  float64
 1   red_blood_cell    40000 non-null  float64
 2   sick              40000 non-null  float64
dtypes: float64(3)
memory usage: 937.6 KB

In [ ]:
# mean of white cell

-0.004351365855189896

In [ ]:
mask = df["white_blood_cell"] < df["white_blood_cell"].mean()
mask

0        False
1        False
2        False
3         True
4         True
         ...
39995     True
39996    False
39997     True
39998    False
39999     True
Name: white_blood_cell, Length: 40000, dtype: bool

In [ ]:
# use this mask on df

       white_blood_cell  red_blood_cell  sick
3             -0.057521        2.054928   1.0
4             -1.232600       -2.722805   0.0
5             -1.866536       -1.052549   0.0
10            -0.264878       -0.516184   1.0
12            -2.461048       -2.301644   0.0
...                 ...             ...   ...
39992         -1.130755       -2.727139   0.0
39994         -1.042973       -0.530867   1.0
39995         -2.641717        2.356235   1.0
39997         -2.192320       -3.356272   0.0
39999         -1.605397        2.680971   1.0

[19981 rows x 3 columns]

In [ ]:
# X = df[["white_blood_cell", "red_blood_cell"]]
X = df.drop(columns=["sick"])

In [ ]:
# Create y

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(  X, y, test_size=0.33, random_state=42)

In [ ]:
# Check the shaping of Training and Testing Features

(13200, 2)

In [ ]:
# Check the shaping of train labels and Testing labels Features

(13200,)

In [ ]:
# check white and red cell columns

       white_blood_cell  red_blood_cell
0              1.178028        0.464315
1              0.844175        2.440351
2              2.878409       -1.438124
3             -0.057521        2.054928
4             -1.232600       -2.722805
...                 ...             ...
39995         -2.641717        2.356235
39996          3.675737        2.956299
39997         -2.192320       -3.356272
39998          3.100980       -2.561397
39999         -1.605397        2.680971

[40000 rows x 2 columns]

In [ ]:
###Enter your code here !
# Load the dataset
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
data = pd.read_csv("./dataset/sick_or_not.csv")
X = data[['white_blood_cell', 'red_blood_cell']].values
y = data['sick'].values

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

# Normalize the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### Create the Model Architecture
- input layer with 48 neurones
- hidden layer with 36 neurones
- choose correctly the output layer an the correct activation function


### Compilation
- optimizer
- correct loss
- accuracy metric

### Story your epochs in history
- 30 epochs
- batch_size 16

In [ ]:
import tensorflow as tf

# Build a neural network model

# Compile the model

# Train the model

Epoch 1/30

c:\Users\didie\anaconda3\envs\pythonAlgo\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

1800/1800 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9244 - loss: 0.2170 - val_accuracy: 0.9563 - val_loss: 0.1111
Epoch 2/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9549 - loss: 0.1159 - val_accuracy: 0.9550 - val_loss: 0.1108
Epoch 3/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9552 - loss: 0.1142 - val_accuracy: 0.9553 - val_loss: 0.1135
Epoch 4/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9550 - loss: 0.1136 - val_accuracy: 0.9528 - val_loss: 0.1171
Epoch 5/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9532 - loss: 0.1166 - val_accuracy: 0.9516 - val_loss: 0.1125
Epoch 6/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9550 - loss: 0.1148 - val_accuracy: 0.9541 - val_loss: 0.1116
Epoch 7/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9550 - loss: 0.1173 - val_accuracy: 0.9544 - val_loss: 0.1128
Epoch 8/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9562 - loss: 0.1158 - val_accuracy: 0.9566 - val_loss: 0.1105
Epoch 9/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9555 - loss: 0.1146 - val_accuracy: 0.9503 - val_loss: 0.1220
Epoch 10/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9520 - loss: 0.1183 - val_accuracy: 0.9550 - val_loss: 0.1111
Epoch 11/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9531 - loss: 0.1177 - val_accuracy: 0.9566 - val_loss: 0.1097
Epoch 12/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9537 - loss: 0.1191 - val_accuracy: 0.9553 - val_loss: 0.1105
Epoch 13/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9500 - loss: 0.1242 - val_accuracy: 0.9550 - val_loss: 0.1099
Epoch 14/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9547 - loss: 0.1178 - val_accuracy: 0.9550 - val_loss: 0.1102
Epoch 15/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9565 - loss: 0.1130 - val_accuracy: 0.9553 - val_loss: 0.1107
Epoch 16/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9539 - loss: 0.1180 - val_accuracy: 0.9531 - val_loss: 0.1104
Epoch 17/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9536 - loss: 0.1171 - val_accuracy: 0.9544 - val_loss: 0.1107
Epoch 18/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9561 - loss: 0.1126 - val_accuracy: 0.9547 - val_loss: 0.1106
Epoch 19/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9560 - loss: 0.1123 - val_accuracy: 0.9544 - val_loss: 0.1135
Epoch 20/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9551 - loss: 0.1145 - val_accuracy: 0.9547 - val_loss: 0.1122
Epoch 21/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9536 - loss: 0.1168 - val_accuracy: 0.9553 - val_loss: 0.1100
Epoch 22/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9542 - loss: 0.1152 - val_accuracy: 0.9534 - val_loss: 0.1154
Epoch 23/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9553 - loss: 0.1118 - val_accuracy: 0.9553 - val_loss: 0.1116
Epoch 24/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9548 - loss: 0.1161 - val_accuracy: 0.9534 - val_loss: 0.1114
Epoch 25/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9544 - loss: 0.1139 - val_accuracy: 0.9547 - val_loss: 0.1099
Epoch 26/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9545 - loss: 0.1156 - val_accuracy: 0.9531 - val_loss: 0.1124
Epoch 27/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9541 - loss: 0.1157 - val_accuracy: 0.9525 - val_loss: 0.1135
Epoch 28/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9523 - loss: 0.1200 - val_accuracy: 0.9531 - val_loss: 0.1119
Epoch 29/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9553 - loss: 0.1155 - val_accuracy: 0.9541 - val_loss: 0.1112
Epoch 30/30
1800/1800 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9541 - loss: 0.1122 - val_accuracy: 0.9556 - val_loss: 0.1105