In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./Exercices_Pandas_athlete_events.csv")

In [ ]:
# 3) Afficher les 5 premières lignes afin de voir si l’importation est correcte
display(df.head())

# 4) Afficher les 5 dernières lignes
display(df.tail())

# 5) Afficher les informations sur le dataframe
display(df.info())

# 6) Afficher les dimensions du dataframe
display(df.shape)

# 7) Afficher les statistiques descriptives du dataframe
display(df.describe())

# 8) Compter le nombre de valeurs nulles dans le dataframe
display(df.isnull().sum())

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

None

(271116, 15)

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [ ]:
# 9) Sélectionner la colonne Edition et afficher (selon 2-3 manières)
display(df["Games"])
display(df.Games)
display(df.loc[:, "Games"])

0         1992 Summer
1         2012 Summer
2         1920 Summer
3         1900 Summer
4         1988 Winter
             ...
271111    1976 Winter
271112    2014 Winter
271113    2014 Winter
271114    1998 Winter
271115    2002 Winter
Name: Games, Length: 271116, dtype: object

0         1992 Summer
1         2012 Summer
2         1920 Summer
3         1900 Summer
4         1988 Winter
             ...
271111    1976 Winter
271112    2014 Winter
271113    2014 Winter
271114    1998 Winter
271115    2002 Winter
Name: Games, Length: 271116, dtype: object

0         1992 Summer
1         2012 Summer
2         1920 Summer
3         1900 Summer
4         1988 Winter
             ...
271111    1976 Winter
271112    2014 Winter
271113    2014 Winter
271114    1998 Winter
271115    2002 Winter
Name: Games, Length: 271116, dtype: object

In [ ]:
# 10) Sélectionner la colonne Name et afficher le résultat en triant par ordre alphabétique
display(df["Name"].sort_values())

1560        Gabrielle Marie "Gabby" Adcock (White-)
215054          Eleonora Margarida Josephina Scmitt
215055          Eleonora Margarida Josephina Scmitt
92099                               Jean Hauptmanns
51334       Luis ngel Fernando de los Santos Grossi
                            ...
114965                                    zlem Kaya
79870                                    zman Graud
207676                                   zzet Safer
102955                                     zzet nce
102956                                     zzet nce
Name: Name, Length: 271116, dtype: object

In [ ]:
# 11) Sélectionner les colonnes Event, city, Name, Medal
display(df[["Event", "City", "Name", "Medal"]])

,Event,City,Name,Medal
0,Basketball Men's Basketball,Barcelona,A Dijiang,NaN
1,Judo Men's Extra-Lightweight,London,A Lamusi,NaN
2,Football Men's Football,Antwerpen,Gunnar Nielsen Aaby,NaN
3,Tug-Of-War Men's Tug-Of-War,Paris,Edgar Lindenau Aabye,Gold
4,Speed Skating Women's 500 metres,Calgary,Christine Jacoba Aaftink,NaN
...,...,...,...,...
271111,Luge Mixed (Men)'s Doubles,Innsbruck,Andrzej ya,NaN
271112,"Ski Jumping Men's Large Hill, Individual",Sochi,Piotr ya,NaN
271113,"Ski Jumping Men's Large Hill, Team",Sochi,Piotr ya,NaN
271114,Bobsleigh Men's Four,Nagano,Tomasz Ireneusz ya,NaN
271115,Bobsleigh Men's Four,Salt Lake City,Tomasz Ireneusz ya,NaN

In [ ]:
# 12) Slicer les lignes de 0 à 25 du dataframe au moyen du iloc
display(df.iloc[0:25])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN

In [ ]:
# 13) Filtrer la discipline Football de 2 manières différentes
display(df[df["Sport"] == "Football"])
display(df.query('Sport == "Football"'))

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
116,41,Rolf Aas,M,28.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
157,61,Stefan Abadzhiev,M,26.0,175.0,72.0,Bulgaria,BUL,1960 Summer,1960,Summer,Roma,Football,Football Men's Football,NaN
178,76,Jouan Patrice Abanda Etong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270810,135438,Manuel Ziga Fernndez,M,20.0,172.0,69.0,Spain,ESP,1980 Summer,1980,Summer,Moskva,Football,Football Men's Football,NaN
270843,135455,Vjekoslav upani,M,19.0,NaN,NaN,Yugoslavia,YUG,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
270901,135476,Emily Jane Zurrer,F,21.0,179.0,69.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,NaN
270982,135504,Viktor Oleksandrovych Zviahintsev,M,25.0,178.0,79.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Football,Football Men's Football,Bronze
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
116,41,Rolf Aas,M,28.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
157,61,Stefan Abadzhiev,M,26.0,175.0,72.0,Bulgaria,BUL,1960 Summer,1960,Summer,Roma,Football,Football Men's Football,NaN
178,76,Jouan Patrice Abanda Etong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270810,135438,Manuel Ziga Fernndez,M,20.0,172.0,69.0,Spain,ESP,1980 Summer,1980,Summer,Moskva,Football,Football Men's Football,NaN
270843,135455,Vjekoslav upani,M,19.0,NaN,NaN,Yugoslavia,YUG,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
270901,135476,Emily Jane Zurrer,F,21.0,179.0,69.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,NaN
270982,135504,Viktor Oleksandrovych Zviahintsev,M,25.0,178.0,79.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Football,Football Men's Football,Bronze
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN

In [ ]:
# 14) Filtrer le dataframe sur la saison Summer et stocker les lignes dans une nouvelle variable appelée « ete »
ete = df[df["Season"] == "Summer"]

# 15) Filtrer le dataframe sur la saison Winter et stocker les lignes dans une nouvelle variable appelée « hiver »
hiver = df[df["Season"] == "Winter"]

In [ ]:
# 16) Afficher de manière unique tous les sports
display(df["Sport"].unique())

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [ ]:
# 17) Filtrer les lignes pour récupérer les athlètes ayant dans leur nom « Owens » ou « Jesse » et stocker cela dans une nouvelle variable
owens_jesse = df[df["Name"].str.contains("Owens|Jesse", case=False, na=False)]

In [ ]:
# 18) Compter les occurrences de la colonne Event de Owens, Jesse
display(owens_jesse["Event"].value_counts())

Event
Water Polo Men's Water Polo               4
Gymnastics Men's Rings                    3
Gymnastics Men's Parallel Bars            3
Gymnastics Men's Floor Exercise           3
Gymnastics Men's Individual All-Around    3
                                         ..
Athletics Men's 110 metres Hurdles        1
Alpine Skiing Women's Downhill            1
Alpine Skiing Women's Super G             1
Alpine Skiing Women's Giant Slalom        1
Badminton Women's Singles                 1
Name: count, Length: 69, dtype: int64

In [ ]:
# 19) Compter y a-t-il de femme est d’homme dans le dataframe
display(df["Sex"].value_counts())

Sex
M    196594
F     74522
Name: count, dtype: int64

In [ ]:
# 20) Quel est l’athlète le plus jeune
display(df.loc[df["Age"].idxmin()])

ID                                        71691
Name                         Dimitrios Loundras
Sex                                           M
Age                                        10.0
Height                                      NaN
Weight                                      NaN
Team              Ethnikos Gymnastikos Syllogos
NOC                                         GRE
Games                               1896 Summer
Year                                       1896
Season                                   Summer
City                                     Athina
Sport                                Gymnastics
Event     Gymnastics Men's Parallel Bars, Teams
Medal                                    Bronze
Name: 142882, dtype: object

In [ ]:
# 21) Quel est l’athlète le plus vieux
display(df.loc[df["Age"].idxmax()])

ID                                             128719
Name                           John Quincy Adams Ward
Sex                                                 M
Age                                              97.0
Height                                            NaN
Weight                                            NaN
Team                                    United States
NOC                                               USA
Games                                     1928 Summer
Year                                             1928
Season                                         Summer
City                                        Amsterdam
Sport                                Art Competitions
Event     Art Competitions Mixed Sculpturing, Statues
Medal                                             NaN
Name: 257054, dtype: object

In [ ]:
# 22) Quels sont les joueurs ayant gagné des médailles d’Or en badminton simple au cours des années. Trier le résultat par ordre alphabétique sur le nom des joueurs.
badminton_gold = df[
    (df["Sport"] == "Badminton")
    & (df["Medal"] == "Gold")
    & (df["Event"].str.contains("Singles"))
]
display(badminton_gold.sort_values(by="Name").head(5))

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
31409,16152,Alexander Alan Budikusuma Wiratama,M,24.0,178.0,71.0,Indonesia,INA,1992 Summer,1992,Summer,Barcelona,Badminton,Badminton Men's Singles,Gold
13855,7504,Bang Su-Hyeon,F,23.0,NaN,NaN,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Women's Singles,Gold
149622,75045,Carolina Mara Marn Marn,F,23.0,172.0,65.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Women's Singles,Gold
39337,20238,Chen Long,M,27.0,188.0,81.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Men's Singles,Gold
81604,41427,Gong Zhichao,F,23.0,163.0,52.0,China,CHN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Women's Singles,Gold

In [ ]:
# 23) Quels sont les 3 pays ayant gagné le plus de médailles de 1984 à 2016
medals_1984_2016 = df[(df["Year"] >= 1984) & (df["Year"] <= 2016)]
display(medals_1984_2016["NOC"].value_counts().head(3))

NOC
USA    9096
CAN    5960
GER    5688
Name: count, dtype: int64

In [ ]:
# 24) Combien y a-t-il d’homme et de femme ayant participé aux Jeux olympiques d’été en 2016
summer_2016 = df[(df["Season"] == "Summer") & (df["Year"] == 2016)]
display(summer_2016["Sex"].value_counts())

Sex
M    7465
F    6223
Name: count, dtype: int64

In [ ]:
# 25) Afficher le nombre de médailles pour la Belgique
display(df[df["NOC"] == "BEL"]["Medal"].count())

468

In [ ]:
# 26) Quels sont les sports pour lesquels la Belgique a des médailles d’Or
belgium_gold_sports = df[(df["NOC"] == "BEL") & (df["Medal"] == "Gold")]
display(belgium_gold_sports["Sport"].unique())

array(['Archery', 'Fencing', 'Football', 'Figure Skating',
       'Equestrianism', 'Sailing', 'Art Competitions', 'Weightlifting',
       'Cycling', 'Swimming', 'Boxing', 'Athletics', 'Tennis', 'Shooting',
       'Judo'], dtype=object)

In [ ]:
# 27) Quelles sont les années où la Belgique a remporté le plus de médailles
belgium_medals = df[df["NOC"] == "BEL"]
display(belgium_medals["Year"].value_counts().head())

Year
1920    518
1928    286
1924    266
1936    242
1948    201
Name: count, dtype: int64

In [ ]:
# 28) Afficher les médaillés d’Or féminin en Athlétisme. Afficher le résultat Year, Event, Name, et Pays
female_athletics_gold = df[
    (df["Sex"] == "F") & (df["Sport"] == "Athletics") & (df["Medal"] == "Gold")
]
display(female_athletics_gold[["Year", "Event", "Name", "NOC"]])

,Year,Event,Name,NOC
1527,2008,Athletics Women's Shot Put,Valerie Kasanita Adams-Vili (-Price),NZL
1528,2012,Athletics Women's Shot Put,Valerie Kasanita Adams-Vili (-Price),NZL
2815,1996,Athletics Women's Long Jump,Chioma Ajunwa (-Opara),NGR
3020,2016,Athletics Women's 4 x 100 metres Relay,Morolake Akinosun,USA
6764,2000,Athletics Women's 4 x 400 metres Relay,Andrea Arlene Anderson (-Bolder),USA
...,...,...,...,...
268293,1972,Athletics Women's 400 metres,Monika Zehrt (-Landgraf),GDR
268294,1972,Athletics Women's 4 x 400 metres Relay,Monika Zehrt (-Landgraf),GDR
270104,1980,Athletics Women's 4 x 400 metres Relay,Nina Anatolivna Ziuskova,URS
270970,2000,Athletics Women's Discus Throw,Ellina Aleksandrovna Zvereva (Kisheyeva-),BLR
271076,1952,Athletics Women's Shot Put,Galina Ivanovna Zybina (-Fyodorova),URS

In [ ]:
# 29) Combien y a-t-il de sport par année
display(df.groupby("Year")["Sport"].nunique())

Year
1896     9
1900    20
1904    18
1906    13
1908    24
1912    17
1920    25
1924    30
1928    25
1932    25
1936    32
1948    29
1952    27
1956    27
1960    27
1964    31
1968    30
1972    33
1976    33
1980    33
1984    35
1988    37
1992    41
1994    12
1996    31
1998    14
2000    34
2002    15
2004    34
2006    15
2008    34
2010    15
2012    32
2014    15
2016    34
Name: Sport, dtype: int64

In [ ]:
# 30) Quel est le top 15 des pays ayant le plus de médailles (toutes médailles confondues)
display(df["NOC"].value_counts().head(15))

NOC
USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
CAN     9733
JPN     8444
SWE     8339
AUS     7638
HUN     6607
POL     6207
SUI     6150
NED     5839
URS     5685
FIN     5467
Name: count, dtype: int64

In [ ]:
# 31) Quels sont les pays gagnant les plus médaillés par sport distinct
display(df.groupby("Sport")["NOC"].value_counts().groupby(level=0).head(1))

Sport             NOC
Aeronautics       SUI      1
Alpine Skiing     AUT    556
Alpinism          GBR     12
Archery           USA    175
Art Competitions  USA    562
                        ...
Tug-Of-War        GBR     40
Volleyball        BRA    285
Water Polo        USA    317
Weightlifting     USA    153
Wrestling         USA    383
Name: count, Length: 66, dtype: int64

In [ ]:
# 32) Quels étaient les pays les plus efficaces durant la guerre froide de 1952 à 1988 (i.e. le pays avec le plus de médailles par nombre d’athlètes envoyés)
cold_war = df[(df["Year"] >= 1952) & (df["Year"] <= 1988)]
efficiency = cold_war.groupby("NOC").apply(
    lambda x: x["Medal"].count() / x["Name"].nunique()
)
display(efficiency.sort_values(ascending=False).head())

C:\Users\thoma\AppData\Local\Temp\ipykernel_15556\3211762200.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  efficiency = cold_war.groupby("NOC").apply(

NOC
URS    0.850782
GDR    0.741150
USA    0.512160
PAK    0.502392
HUN    0.497979
dtype: float64